In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [6]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-02.parquet')

In [7]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-02-01 00:12:18,2025-02-01 00:32:33,3.0,3.12,1.0,N,246,79,1,19.80,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75
1,2,2025-02-01 00:40:04,2025-02-01 00:49:15,1.0,1.40,1.0,N,114,79,1,10.00,1.00,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75
2,1,2025-02-01 00:06:09,2025-02-01 00:11:51,0.0,0.40,1.0,N,211,144,1,6.50,4.25,0.5,1.00,0.0,1.0,13.25,2.5,0.0,0.75
3,1,2025-02-01 00:15:13,2025-02-01 00:20:19,0.0,0.70,1.0,N,113,249,1,7.20,4.25,0.5,2.00,0.0,1.0,14.95,2.5,0.0,0.75
4,2,2025-02-01 00:02:52,2025-02-01 00:20:25,1.0,4.19,1.0,N,113,263,1,19.80,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3577538,2,2025-02-28 23:39:09,2025-03-01 00:05:17,NaN,13.73,NaN,None,209,127,0,47.56,0.00,0.5,0.00,0.0,1.0,52.31,NaN,NaN,0.75
3577539,2,2025-02-28 23:45:00,2025-02-28 23:56:22,NaN,1.39,NaN,None,4,234,0,-4.75,0.00,0.5,0.00,0.0,1.0,2.36,NaN,NaN,0.75
3577540,2,2025-02-28 23:28:19,2025-02-28 23:38:18,NaN,1.14,NaN,None,107,4,0,12.68,0.00,0.5,0.00,0.0,1.0,17.43,NaN,NaN,0.75
3577541,2,2025-02-28 23:46:52,2025-03-01 00:02:48,NaN,7.43,NaN,None,50,243,0,-4.75,0.00,0.5,0.00,0.0,1.0,5.17,NaN,NaN,0.75
3577542,2,2025-02-28 23:19:37,2025-02-28 23:31:41,NaN,4.23,NaN,None,116,142,0,20.90,0.00,0.5,0.00,0.0,1.0,24.90,NaN,NaN,0.00

In [8]:
import sklearn

In [9]:
sklearn.__version__

'1.0.2'